#footer
  background: color-footer-background
  padding: 50px 0
  border-top: 5px solid rgb(0,162,209)
  color: color-grey
  a
    color: article-title-color
    text-decoration: none
    &:hover
      color: article-title-hover-color

#footer-info
  line-height: line-height
  font-size: 0.85em